@import url(https://unknown-clan.github.io/src/main.css);
@import url(https://unknown-clan.github.io/src/header.css);
:root {
  --c-bg-color: rgb(49, 49, 49);
  --c-bg-color2: rgb(70, 70, 70);
}

#header {
  background-color: var(--c-bg-color);
}

#header a:hover {
  background-color: var(--c-bg-color2);
}
