@import url(https://unknown-clan.github.io/src/main.css);
@import url(https://unknown-clan.github.io/src/header.css);
:root {
  --c-bg-color: rgb(49, 49, 49);
  --c-bg-color2: rgb(70, 70, 70);
}

#header {
  background-color: var(--c-bg-color);
}

#header a:hover {
  background-color: var(--c-bg-color2);
}

* {
  user-select: text;
}

div#main {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 75vw;
  height: 75vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

input {
  text-align: center;
  margin: 3px;
}

div#checkSelect {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  background-color: var(--bg-color);
  margin: 3px;
}
.flipswitch {
  position: relative;
  background: white;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
  margin: 0px;
  box-shadow: 0px 0px 0px 1px white;
}

.flipswitch:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.flipswitch:after {
  background-color: rgb(170, 2, 2);
}

.flipswitch:checked:after {
  background-color: rgb(29, 165, 29);
}

#checkPC::after {
  content: "PC ONLY";
}

#checkBETA::after {
  content: "BETA";
}

#checkDISABLED::after {
  content: "DISABLED";
}

#checkNEW::after {
  content: "NEW";
}

#gameName {
  width: 50%;
  background-color: var(--bg-color);
  color: white;
  font-size: 120%;
  border: none;
  height: 30px;
}

#gameDescription {
  width: 50%;
  background-color: var(--bg-color);
  color: white;
  font-size: 100%;
  border: none;
  height: 30px;
}

#gameHref {
  width: 50%;
  background-color: var(--bg-color);
  color: white;
  font-size: 120%;
  border: none;
}

button#create {
  letter-spacing: 10px;
  width: 50%;
  background-color: limegreen;
  color: white;
  font-size: 150%;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

button#create:hover {
  cursor: pointer;
  background-color: lime;
}

p#outputBox {
  margin: 3px;
  width: 50%;
  border: none;
  height: 200px;
  background-color: var(--bg-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
