@import url(https://unknown-clan.github.io/src/main.css);
@import url(https://unknown-clan.github.io/src/header.css);
:root {
  --c-bg-color: rgb(49, 49, 49);
  --c-bg-color2: rgb(70, 70, 70);
}

#header {
  background-color: var(--c-bg-color);
}

#header a:hover {
  background-color: var(--c-bg-color2);
}

div#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 800px;
}

a#link {
  color: white;
  background-color: transparent;
  width: 450px;
  height: 50px;
  text-decoration: none;
  font-size: 200%;
  box-shadow: 0px 0px 0px 1px white;
  transition: 0.3s;
  text-transform: uppercase;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a#link:hover {
  box-shadow: 0px 0px 0px 2px white;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.3s;
}
